Screen {
    background: $surface-darken-1;
}

#tree-view {
    display: none;
    scrollbar-gutter: stable;
    overflow: auto;
    width: auto;
    height: 100%;
}

TreeTUI.-show-tree #tree-view {
    display: block;
    max-width: 50%;
}

#file-input {
    background: $accent-darken-2;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
